NODE_ENV=production
PORT=3000
REFRESH_TOKEN=
MONGO_URL=
DB_NAME=
JWT_SECRET=
RAILWAY_TOKEN=
PUBLIC_URL=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SLACK_WEBHOOK_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=